html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.layout {
    display: grid;
    grid-template-areas: 
        'log input'
        'log icons';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
}

.log {
    grid-area: log;
    background: black;
    color: white;
    padding: 1rem;
}

.inputs {
    grid-area: input;
    padding: 1rem;
    background-color: black;
    color: white;
}

.input input {
    padding: 1rem;
}

.icons {
    grid-area: icons;
    padding: 1rem;
}